.login-container {
  max-width: 380px;
  margin: 100px auto;
  padding: 30px;
  
  background: #fff;
  border-radius: 10px;

  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
  font-weight: 600;
}

.login-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;

  border: 1px solid #ccc;
  border-radius: 7px;

  font-size: 15px;
}

.login-container button {
  width: 100%;
  padding: 12px;
  background: #000;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.login-container button:hover {
  background: #333;
}
